.main-container {
  background-color: #e1e6e2;
  width: 100%;
}

.bg-light {
  background-color: #e1e6e2 !important;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link:focus {
  color: #007bff; 
  cursor: pointer; 
}

.nav-item .active {
  font-weight: bold; 
  color: #0056b3; 
}

.btn-outline-dark {
  border: none;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 10px 20px; 
  border-radius: 30px; 
  transition: all 0.3s ease; 
}

.btn-outline-dark:hover {
  background-color: #0056b3;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
  scroll-margin-top: 70px;
}

#hero {
  height: 100vh;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-photo {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  margin-top: 0;
  margin-bottom: 3rem;
}

@media (max-width: 768px) or (max-height: 768px) {
  .profile-photo {
    width: 300px; 
    height: 300px; 
    margin-bottom: 1rem; 
  }

  .display-5 {
    font-size: 2rem !important;
  }

  .lead, .typed-color, .typed-cursor {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 400px) or (max-height: 560px) {
  .profile-photo {
    width: 250px; 
    height: 250px; 
    margin-bottom: 1rem; 
  }
}

.display-5 {
  font-size: 4.5rem;
}

.clickable:hover {
  cursor: pointer;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px; 
}

.social-links a {
  display: flex;
}

.social-links img {
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.social-links .i2 {
  height: 35px;
  width: 35px;
}

.typed-color {
  color: #007bff;
  font-weight: bold;
  font-size: 2.5rem;
}

.typed-cursor {
  color: #007bff;
}

.lead {
  display: flex; 
  align-items: baseline; 
  justify-content: center; 
  flex-wrap: nowrap; 
  white-space: nowrap; 
  font-size: 2.5rem;
}

#skills {
  background-color: #B3C8CF;
  margin: 0px;
}

.section-heading {
  display: block;
  font-size: 2rem;
  position: relative;
  color: #000; 
  margin-bottom: 1rem; 
  text-align: center;
}

.section-heading::after {
  content: '';
  display: block;
  width: 60px; 
  height: 4px; 
  background-color: #007bff; 
  position: absolute;
  left: 50%;
  bottom: -10px; 
  transform: translateX(-50%);
}

.icon {
  width: 1.75em; 
  height: 1.75em; 
  margin-right: 0.5em; 
  vertical-align: middle;
}

#projects {
  background-color: #F1EEDC;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link:hover {
  text-decoration: none; 
}

.lead-2 {
  font-size: 1.25rem;
  font-weight: 300;
}

#about {
  background-color: #BED7DC;
}

.img-with-clip-path {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img-with-pop-out {
  position: relative;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-with-pop-out:hover {
  transform: scale(1.05) rotate(5deg);
  box-shadow: 0 30px 45px rgba(0, 0, 0, 0.6);
}

#contact {
  background-color: #E5DDC5;
}

.contact-photo {
  width: 150px;
  height: 150px;
  float: left;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  margin-top: 0;
  margin-bottom: 15rem;
  margin-right: 2rem;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.contact-photo:hover {
  cursor: pointer;
  animation: shake 0.7s;
  animation-iteration-count: infinite;
}

